<div style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Sign Up</div>
            <div style="float:right; font-size: 85%; position: relative; top:-10px">
                <a href="#" [routerLink]="['/login']">Sign In</a>
            </div>
        </div>
        <div class="panel-body">

            <form id="signupform" (submit)="signUp()" class="form-horizontal" role="form">
                <div id="signupalert" style="display:none" class="alert alert-danger">
                    <p>Error:</p>
                    <span></span>
                </div>

                <div class="form-group">
                    <label for="email" class="col-md-3 control-label">Email</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" [(ngModel)]="user.email" name="email" placeholder="Email Address">
                    </div>
                </div>

                <div class="form-group">
                    <label for="firstname" class="col-md-3 control-label">First Name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" [(ngModel)]="user.firstName" name="firstname" placeholder="First Name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="col-md-3 control-label">Last Name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastname" placeholder="Last Name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" [(ngModel)]="user.password" name="passwd" placeholder="Password">
                    </div>
                </div>

                <div class="form-group">
                    <label for="companyname" class="col-md-3 control-label">Company Name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" [(ngModel)]="user.companyName" name="icode" placeholder="Company Name">
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-offset-3 col-md-9">
                        <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right">&nbsp;</i>  Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>