<div class="container">
    <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
            </div>

            <div style="padding-top:30px" class="panel-body">

                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form class="form-horizontal" (submit)="login($event)">

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="login-username" type="email" class="form-control" name="aaaa" placeholder="email">
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                    </div>



                    <div style="margin-top:10px" class="form-group">


                        <div class="col-sm-12 controls">
                            <button type="submit" class="btn btn-info"><i class="icon-hand-right">&nbsp;</i> Login</button>
                            <!-- <a id="btn-login" href="#" (click)="login(info)" class="btn btn-success">Login </a> -->

                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                Don't have an account!
                                <a href="#" [routerLink]="['/signup']">
                  Sign Up Here
                </a>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>



<!-- <div class="panel panel-primary">
    <div class="panel-heading">Company Adding Form : You can Add an Companies detail information into this EMS Apps.</div>
    <div class="panel-body">
        <form class="form-horizontal" (submit)="login($event)">
            <div class="form-group">
                <label for="emp_name" class="col-sm-2 control-label">Company Name : </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="cEmail">
                </div>
            </div>
            <div class="form-group">
                <label for="position" class="col-sm-2 control-label">Company Address : </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="cPassword">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a class="btn btn-info" (click)="goBack()">Cancel</a>
                </div>

            </div>
        </form>

    </div>
</div> -->